*	{
	margin: 0;
	padding: 0;
	}
html, body	{
	height: 100%;
	}
body	{
	background: #fff;
	color: #393939;
	font-family: Arial;
	
	
	}

/*  LOGIN -------------------------------------------------------------------------------- */	

#login-bg	{
	background: url(../images/login/login_bg.jpg) no-repeat top center;
	}
#login-holder	{
	margin: 0px auto 0 auto;
	width: 508px;
	}
#loginbox	{
	background: url(../images/login/loginbox_bg.png) no-repeat;
	font-size: 12px;
	height: 212px;
	line-height: 12px;
	padding-top: 60px;
	position: relative;
	width: 508px;
	}
#forgotbox	{
	background: url(../images/login/loginbox_bg.png) no-repeat;
	display: none;
	font-size: 12px;
	height: 212px;
	line-height: 12px;
	padding-top: 60px;
	position: relative;
	width: 508px;
	}
#login-inner	{
	color: #161616;
	font-family: Tahoma;
	font-size: 13px;
	line-height: 12px;
	margin: 0 auto;
	width: 310px;
	}
#login-inner label	{
	color: #161616;
	cursor: pointer;
	font-family: Tahoma;
	font-weight: bold;
	line-height: 12px;
	padding-left: 10px;
	 
	}
 .checkbox-size	{
	width:13px;
	height:13px;
	margin: 5px 0;
	 
	}	
#login-inner th	{
	padding: 0 0 6px 0;
	text-align: left;
	width: 95px;
	}
#login-inner td	{
	padding: 0 0 6px 0;
	}
.login-inp	{
	background: url(../images/login/inp_login.gif) no-repeat;
	border: none;
	color: #fff;
	font-size: 16px;
	height: 28px;
	padding: 6px 6px 0 10px;
	width: 204px;
	}
#logo-login	{
	float: left;
	height: 35px;
	margin: 145px 0 0 15px;
	}
a.forgot-pwd	{
	bottom: 30px;
	color: #161616;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	line-height: 12px;
	position: absolute;
	right: 40px;
	}
a:hover.forgot-pwd	{
	color: #fff;
	}
#forgotbox-text	{
	color: #161616;
	font-family: Tahoma;
	font-size: 13px;
	font-weight: bold;
	line-height: 12px;
	margin: 0 auto 40px auto;
	width: 380px;
	}
#forgot-inner	{
	color: #161616;
	font-family: Tahoma;
	font-size: 13px;
	line-height: 12px;
	margin: 0 auto;
	width: 330px;
	}
#forgot-inner label	{
	color: #161616;
	cursor: pointer;
	font-family: Tahoma;
	font-weight: bold;
	line-height: 12px;
	padding-left: 10px;
	}
#forgot-inner th	{
	padding: 0 0 6px 0;
	text-align: left;
	width: 110px;
	}
#forgot-inner td	{
	padding: 0 0 6px 0;
	}
a.back-login	{
	background: url(../images/login/icon_back_login.gif) no-repeat 0 4px;
	bottom: 30px;
	color: #161616;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	line-height: 12px;
	padding: 0 0 0 10px;
	position: absolute;
	right: 40px;
	}
a:hover.back-login	{
	color: #fff;
	}
.submit-login	{
	background: url(../images/login/submit_login.gif) no-repeat;
	border: none;
	cursor: pointer;
	display: block;
	height: 29px;
	text-indent: -3000px;
	width: 73px;
	}
.submit-login:hover	{
	background: url(../images/login/submit_login.gif) no-repeat 0 -29px;
	}
.ui-multiselect-menu{ font-size:11px;}
.select_class label{ width:100% !important;}
label.ui-corner-all{ width:100% !important; display:block;}

/*view items page*/






/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/
* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: sans-serif;
}

/* ------------------------------------ */
a {
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

/* ------------------------------------ */
h1,h2,h3,h4,h5,h6 {margin: 0px;}

p {margin: 0px;}

ul, li {
	margin: 0px;
	list-style-type: none;
}



/*//////////////////////////////////////////////////////////////////
[ Table ]*/
.table100 {
  background-color: #fff;
}

table {
  width: 100%;
}

th, td {
  font-weight: unset;
  padding-right: 10px;
}

.column0 {
  width: 20%;
  padding-left: 40px;
}

.column1 {
  width: 13%;
  padding-left: 40px;
}

.column2 {
  width: 10%;
}

.column3 {
  width: 32%;
}

.column4 {
  width: 15%;
}

.column5 {
  width: 10%;
}

.column6 {
  width: 10%;
}

.table100-head th {
  padding-top: 18px;
  padding-bottom: 18px;
}

.table100-body td {
  padding-top: 8px;
  padding-bottom: 8px;
}

/*==================================================================
[ Fix header ]*/
.table100 {
  position: relative;
  padding-top: 60px;
}

.table100-head {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.table100-body {
  
  overflow: auto;
}


/*==================================================================
[ Ver1 ]*/

.table100.ver1 th {
  font-family: Lato-Bold;
  font-size: 18px;
  color: #fff;
  line-height: 1.4;

  background-color: #6c7ae0;
}

.table100.ver1 td {
  font-family: Lato-Regular;
  font-size: 15px;
  color: #808080;
  line-height: 1.4;
}

.table100.ver1 .table100-body tr:nth-child(even) {
  background-color: #f8f6ff;
}


/*add item css*/

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Oswald-Regular, sans-serif;
}

/*---------------------------------------------*/
a {
	font-family: Oswald-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #000000;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Oswald-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: none;
    -webkit-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #999999;}
input:-moz-placeholder { color: #999999;}
input::-moz-placeholder { color: #999999;}
input:-ms-input-placeholder { color: #999999;}

textarea::-webkit-input-placeholder { color: #999999;}
textarea:-moz-placeholder { color: #999999;}
textarea::-moz-placeholder { color: #999999;}
textarea:-ms-input-placeholder { color: #999999;}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


/*---------------------------------------------*/
.container {
	max-width: 1200px;
}




/*//////////////////////////////////////////////////////////////////
[ Contact ]*/

.container-contact100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #e6e6e6;
  
}

.wrap-contact100 {
  width: 550px;
  background: transparent;
  padding: 10px 0 40px 0;
}


/*==================================================================
[ Form ]*/

.contact100-form {
  width: 100%;
}

.contact100-form-title {
  display: block;
  font-family: Oswald-Medium;
  font-size: 15px;
  color: #43383e;
  line-height: 1.2;
  text-align: left;
  padding-bottom: 5px;
}



/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  background-color: #fff;
  margin-bottom: 17px;
}

.label-input100 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 62px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  font-size: 18px;
  color: #999999;
}

.input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-family: Oswald-Medium;
  font-size: 15px;
  color: #43383e;
  line-height: 1.2;
  padding: 0 5px;
}


/*---------------------------------------------*/
input.input100 {
  height: 42px;
  padding: 0 20px 0 38px;
}


textarea.input100 {
  min-height: 119px;
  padding: 19px 20px 0 23px;
}



/*------------------------------------------------------------------
[ Button ]*/
.container-contact100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  padding-top: 13px;
}

.wrap-contact100-form-btn {
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 31px;
  overflow: hidden;
}

.contact100-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #6c7ae0;
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 62px;

  font-family: Oswald-Medium;
  font-size: 16px;
  color: #fff;
	background: #6c7ae0;
  line-height: 1.2;
}

.wrap-contact100-form-btn:hover .contact100-form-bgbtn {
  left: 0;
}

/*error msg*/
.error{color:#df2c08 !important;border-bottom: 1px solid #df2c08 !important;}
.success-msg{color:#fff !important;background: #77b22a;text-align: center;padding:8px 10px;margin-bottom:10px;}



